@import "tailwindcss";

@theme inline {
  --color-cream: #fcf5ef;
  --color-navy: #1c3a5e;
  --font-display: var(--font-cormorant);
  --font-body: var(--font-eb-garamond);
}

body {
  background-color: #fcf5ef;
  color: #1c3a5e;
}
